#body {
    background-color:  #1f3646;
    /* font-family: 'Open Sans', sans-serif; */
}
#login-card{
    width:350px;
    border-radius: 25px;
    margin:75px auto;
    
}

#email{
    border-radius:30px;
    background-color: #ebf0fc;
    border-color: #ebf0fc;
    color: #9da3b0;
}

#password{
    border-radius:30px;
    background-color: #ebf0fc;
    border-color: #ebf0fc;
    color: #9da3b0;
}

#button{
    border-radius:30px;
}

#btn{
    position: absolute; 
    bottom: -35px; 
    padding: 5px;
    margin: 0px 55px;
    align-items: center;
    border-radius: 5px
}
/* #container{
    margin-top:25px;
} */

.btn-circle.btn-sm { 
    width: 40px; 
    height: 40px; 
    padding: 2px 0px; 
    border-radius: 25px; 
    font-size: 14px; 
    text-align: center;
    margin: 8px;
}


.profile__sect .avatar-box span.host-stars:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: hsla(0, 0%, 100%, .8);
    z-index: -1
}

.gallery{
    margin: 10px 50px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
